<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "category" class = "com.code.company.entity.Category" scope="prototype">
    </bean>

    <bean id = "staff" class = "com.code.company.entity.Staff" scope="prototype">
    </bean>

    <bean id = "provider" class = "com.code.company.entity.Provider" scope="prototype">
    </bean>

    <bean id = "product" class = "com.code.company.entity.Product" scope="prototype">
        <property name="category" ref="category"/>
    </bean>

    <bean id = "order" class = "com.code.company.entity.OrderMain" scope="prototype">
        <property name="staff" ref="staff"/>
        <property name="provider" ref="provider"/>
    </bean>
</beans>
